<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ThemeWise Marks</title>
</head>
<body>
   <% themewisemarks.forEach((data)=>{ %>
    Data of student <%= data.name %> of class <%= data.studentClass %> section <%= data.section %>
    <% data.subjects.forEach((subject) => { %>
      <center><%= subject.name %></center>
  <table cellspacing="0" border="1">
    <tr>
      <th>S.No</th>
      <th>Theme Name</th>
      <th>Total Learning Outcome</th>
      <th>Total Obtained Marks after</th>
      <th>Progress percentage</th>
      <th>Remarks</th>
      
    </tr>
    <% subject.themes.forEach((theme,i=1)=>{ %>
      <tr>
        <td><%= i+1 %> <% i=i+1 %></td>
        <td><%= theme.themeName %></td>
        <td><%= theme.learningOutcomes.length %></td>
        <td><%= theme.overallTotalAfter %></td>
        <td><%= (theme.overallTotalAfter / (4 * theme.learningOutcomes.length)) * 100 %> %</td>
        
      </tr>

   <% }) %>
   <tr>
   <td colspan="2">Total</td>
   <td><%= subject.themes.reduce((acc, theme) => acc + theme.learningOutcomes.length, 0) %></td>
   <td><%= subject.themes.reduce((acc, theme) => acc + theme.overallTotalAfter, 0) %></td>
   <td><%= (subject.themes.reduce((acc, theme) => acc + theme.overallTotalAfter, 0) / (4 * subject.themes.reduce((acc, theme) => acc + theme.learningOutcomes.length, 0))) * 100 %> %</td>
   <td> 
   <% 
   var percentage = (subject.themes.reduce((acc, theme) => acc + theme.overallTotalAfter, 0) / (4 * subject.themes.reduce((acc, theme) => acc + theme.learningOutcomes.length, 0))) * 100;
   if (percentage >= 90 && percentage <= 100) { %>
      A+
   <% } else if (percentage >= 80 && percentage < 89) { %>
      A
   <% } else if (percentage >= 70 && percentage < 79) { %>
      B+
   <% } else if (percentage >= 60 && percentage < 69) { %>
      B
   <% } else if (percentage >= 50 && percentage < 59) { %>
      C+
   <% } else if (percentage >= 40 && percentage < 49) { %>
      C
   <% } else if (percentage >= 20 && percentage < 39) { %>
      D
   <% } else if (percentage >= 0 && percentage < 19) { %>
      E
   <% } else { %>
      Invalid Percentage
   <% } %>
   </td>
   </tr>
  </table>
    <% }) %>
  <% })%>
</body>
</html>